.container {
  height: 536px;
  background-color: #fcfcfc;
  overflow: scroll;
}
.logs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.archieve_button {
  display: flex;
  margin: 0 10px;
  width: calc(100% - 20px);
  cursor: pointer;
  gap: 10px;
  align-items: center;
  height: 40px;
  border: 1px solid #f1f1f0;
  border-radius: 0 0 8px 8px;
  border-top: 0;
  background-color: #fdfdfd;
  font-size: 14px;
  font-weight: 600;
  color: #636363;
}
